body {
    margin: 0;
    padding: 0;
    background: rgb(221, 97, 25);
  }
  
  .container {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    width: 100vw;
    height: 50px;
    flex-wrap: wrap;
    padding: 2px;
  }
  
  .grow {
    width: 100vw; /* valor referente ao 1, item maior */
    height: 70px;
    background: blue;
    border: 2px solid white;
    margin: 2px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .c2{
    width: 49vw; /* valor referente a 2 itens descontando a borda*/
    height: 70px;
    background: blue;
    border: 2px solid white;
    margin: 2px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .c3{
    width: 32.5vw; /* valor referente a 3 itens descontando a borda*/
    height: 70px;
    background: blue;
    border: 2px solid white;
    margin: 2px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .c4{
    width: 24.3vw; /* valor referente a 4 itens descontando a borda*/
    height: 70px;
    background: blue;
    border: 2px solid white;
    margin: 2px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .c6{
    width: 16vw; /* valor referente a 6 itens descontando a borda*/
    height: 70px;
    background: blue;
    border: 2px solid white;
    margin: 2px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .c12{
    width: 7.7vw; /* valor referente a 12 itens descontando a borda*/
    height: 70px;
    background: blue;
    border: 2px solid white;
    margin: 2px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }